@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
  overflow: auto;
  height: 100%;
}
#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 85%;
}

video {
  object-fit: cover;
}